{% for p in projects %}
[{{ p.name }}]
source_folder = {{ p.source_folder }}
object_folder = {{ p.object_folder }}
build_command = {{ p.build_command }}
clean_command = {{ p.clean_command }}
{{ 'disabled_plugins = %s\n' % p.disabled_plugins if p.disabled_plugins -}}
{{ 'enabled_plugins = %s\n' % p.enabled_plugins if p.enabled_plugins -}}
{{ 'ignore_patterns = %s\n' % p.ignore_patterns if p.ignore_patterns -}}
{{ 'source_encoding = %s\n' % p.source_encoding if p.source_encoding -}}
[[buglink]]
url=http://bugzilla.mozilla.org/show_bug.cgi?id=%s
name=bugzilla.mozilla.org
{% endfor %}
